#top-logo {
  height: 40px;
  width: 140px;
  margin-top: 2px;
}

#demoimg {
  max-width: 500px;
}

/*#reportDiv {
  cursor: pointer;
}*/

#navSearchForm {
  margin: 13px;
}

.login {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  color: #1e70bf;
}

.inline {
  display: inline-block;
}

.socialLink {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
  cursor: pointer;
}

.socialLinkContainer {
  float: right;
}

/*.Demo__some-network__share-count {
  margin-top: 3px;
  font-size: 12px;
}*/
