#top-logo {
  height: 40px;
  width: 140px;
  margin-top: 2px;
}

#demoimg {
  max-width: 500px;
}

/*#reportDiv {
  cursor: pointer;
}*/

#navSearchForm {
  margin: 13px;
}

.login {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.inline {
  display: inline-block;
}
